<div ng-hide="valid">
  <h1>The reset id isn't valid!</h1>
</div>
<div ng-show="valid" align="center">
  <h1>Please Provide details for password reset.</h1>
  <form ng-submit="submit()">
    <h4 style="color:red;">{{errors}}</h4>
    <input class="form-control" type="password" name="password" ng-model="password" placeholder="password">
    <input class="form-control" type="password" name="verify_password" ng-model="verify_password" placeholder="confirm password">

    <button type="submit" class="btn-lg btn-primary" name="button">Reset Password</button>
  </form>
</div>
</div>
