<button style="float:right;margin-right:4%;padding:20px;" ng-click="follow()"  class="btn btn-lg btn-default" > Follow</button>
  <div ng-controller = "serviceprovider_profileCtrl" class="container prof_div" id ="profile" ng-style="width:75%;margin-top:5%;">
    <h1>Welcome to {{username}}'s Profile <a id = "pencil" style ="cursor:pointer;" ng-click = "edit_general()"><i class="fa fa-pencil" aria-hidden="true"  ></i> General Info  </a> </h1>

    <div class="col-sm-4" >
    <h2 >First Name</h2><h3>{{firstName}}</h3>
    <p><h2>Last Name</h2><h3>{{lastName}} </h3></p>
    <p><h2>Age</h2><h3>{{age}}</h3> </p>
    <p><h2>Mobile Number</h2><h3>{{mobileNumber}}</h3> </p>
    <p><h2>Email</h2><h3>{{email}}</h3></p>
    <p><h2>Nationality</h2><h3>{{nationality}}</h3> </p>
    <p><h2>Business Name</h2><h3>{{businessName}}</h3> </p>
    </div>

    <div class="col-sm-4" >
    <h2>Courses </h2>
    <div class="list-group">

    <ol>
      <div class="list-group-item" ng-repeat="x in courses">
        {{x.name}}
      </div>

    </ol>
  </div>

    <p><h2>Reviews</h2></p>
    <div class="list-group">
    <Ol>
      <div class="list-group-item" ng-repeat = "y in reviews">
        {{y.username }} 's review
        {{y.text}}
        {{y.stars}} stars
    </ol>
  </div>
    <h2>Average Rate {{AverageRate(reviews)}}</h2>
      <h2>Skills</h2>
    <ul>
      <li ng-repeat = "z in skills">
        {{z}}
      </li>
    </ul>
    <div ng-controller = "serviceprovider_editCtrl" id=review>
      <h2> Review</h2>
      <p><input name="reviews" type="text" class="form-control"
        placeholder= "add Review" ng-model ="review"/><br />
        <p><input name="stars" type="text" class="form-control"
          placeholder= "no of stars" ng-model ="stars"/><br />
        <a class="btn btn-primary" ng-click="add_Review(review.stars)" >Add Review</a></p>

</div>
  </div>
  </div>
